body {
    font-family: sans-serif;
    background-color: #36393f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #2f3136;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
    color: #7289da;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #202225;
    background-color: #40444b;
    color: #ffffff;
    box-sizing: border-box;
}

input[type="color"] {
    padding: 0;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}

.output-container {
    margin-top: 2rem;
    text-align: center;
}

#generated-url {
    width: calc(100% - 80px);
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #202225;
    background-color: #40444b;
    color: #dcddde;
}

#copy-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #7289da;
    color: #ffffff;
    cursor: pointer;
}

.preview-container {
    margin-top: 2rem;
}

.discord-embed {
    background-color: #2f3136;
    border-radius: 4px;
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
}

.embed-color-pill {
    width: 4px;
    background-color: #4E5D94;
    border-radius: 4px 0 0 4px;
    flex-shrink: 0;
}

.embed-content {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.embed-author {
    font-weight: bold;
    font-size: 0.875rem;
}

.embed-title {
    font-weight: bold;
    font-size: 1rem;
}

.embed-description {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.embed-footer {
    font-size: 0.75rem;
    color: #72767d;
}